<div class="text-tenter mt-3">
  <h2>{{predicate === 'liked'? 'Member i likes' : 'Members who like me'}}</h2>
</div>
<div class="container mt-3">
  <div class="d-flex">
    <div class="btn-group" name="predicate">
      <button class="btn btn-primary" (click)="loadLikes()"
      btnRadio="liked"
      [(ngModel)]="predicate">Member I like</button>
      <button  class="btn btn-primary" (click)="loadLikes()"
      btnRadio="likedBy"
      [(ngModel)]="predicate" >Who likes me</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2" *ngFor="let member of members">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="pagination.totalPage"
    [(ngModel)]="pagination.currentPage"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
    (pageChanged)="pageChange($event)"
  >
  </pagination>
</div>
